{% load i18n %}
<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col mt-2 text-center">
        <form class="mb-1" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select class="small shadow-sm" name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
              </option>
            {% endfor %}
          </select>
        </form>
        <p class="small text-muted">OPENID &copy; {% now 'Y' %}</p>
      </div>
    </div>
  </div>
</footer>
