[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "*"
django-cors-middleware = "*"
django-oidc-provider = "*"
django-two-factor-auth = "*"
django-user-sessions = "*"
geoip2 = "*"
phonenumbers = "*"

[requires]
python_version = "3.7"
