{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row justify-content-md-center pt-2 pr-2 pl-2">
    <div class="col-12 col-md-10 col-lg-8 bg-white shadow rounded-lg p-0">
      {% include "menu.html" %}
    </div>
  </div>
  <div class="row justify-content-md-center pt-2 pr-2 pl-2">
    <div class="col-12 col-md-10 col-lg-8 bg-white shadow rounded-lg p-3">
      <p>{% blocktrans %}Congratulations, you've successfully enabled two-factor
      authentication.{% endblocktrans %}</p>

      {% if not phone_methods %}
        <p><a href="{% url 'two_factor:profile' %}"
            class="btn btn-block btn-default">{% trans "Back to Profile" %}</a></p>
      {% else %}
        <p>{% blocktrans %}However, it might happen that you don't have access to
          your primary token device. To enable account recovery, add a phone
          number.{% endblocktrans %}</p>

        <a href="{% url 'two_factor:profile' %}"
            class="pull-right btn btn-link">{% trans "Back to Profile" %}</a>
        <p><a href="{% url 'two_factor:phone_create' %}"
            class="btn btn-success">{% trans "Add Phone Number" %}</a></p>
      {% endif %}
    </div>
  </div>
  {% include 'footer.html' %}
</div>
{% endblock %}
